/*
+-----------------------------------------------------------------------------
|   __              __     __        _  __ _           _   _             
|  / _| __ _  ___ __\ \   / /__ _ __(_)/ _(_) ___ __ _| |_(_) ___  _ __  
| | |_ / _` |/ __/ _ \ \ / / _ \ '__| | |_| |/ __/ _` | __| |/ _ \| '_ \ 
| |  _| (_| | (_|  __/\ V /  __/ |  | |  _| | (_| (_| | |_| | (_) | | | |
| |_|  \__,_|\___\___| \_/ \___|_|  |_|_| |_|\___\__,_|\__|_|\___/|_| |_|
|
| faceVerification - 腾讯云人脸识别的上机体验
+-----------------------------------------------------------------------------
| WebSite Author: LF112 [https://www.lf112.net]
+-----------------------------------------------------------------------------
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Titillium Web, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.Fv-Suspensionlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999999999999;
    transform: translate(-50%, -50%);
}


/*Made By LF112, Created and produced the project by Ray.*/