/*
+-----------------------------------------------------------------------------
|   __              __     __        _  __ _           _   _             
|  / _| __ _  ___ __\ \   / /__ _ __(_)/ _(_) ___ __ _| |_(_) ___  _ __  
| | |_ / _` |/ __/ _ \ \ / / _ \ '__| | |_| |/ __/ _` | __| |/ _ \| '_ \ 
| |  _| (_| | (_|  __/\ V /  __/ |  | |  _| | (_| (_| | |_| | (_) | | | |
| |_|  \__,_|\___\___| \_/ \___|_|  |_|_| |_|\___\__,_|\__|_|\___/|_| |_|
|
| faceVerification - 腾讯云人脸识别的上机体验
+-----------------------------------------------------------------------------
| WebSite Author: LF112 [https://www.lf112.net]
+-----------------------------------------------------------------------------
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Titillium Web, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.Fv-Suspensionlayer {
    position: fixed;
    _position: absolute;
    z-index: 100000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.Fv-Suspensionlayer .Fv-Suspensionlayer_Ghost {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    _width: 2000px;
    _height: 1000px;
    opacity: .6;
}

.Fv-Suspensionlayer .Fv-Suspensionlayer_Main {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: #fff;
}


/*Made By LF112, Created and produced the project by Ray.*/